


body {
    background-image: url(/png-transparent-shabby-paper-block-torn-leaf-writing-block-torn-off-perforated-notes-lined-notepad.png); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif; 
}


/* STEVEN RODRIGUEZ  T32321092 */

